.header {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top:20px;
}
.headerLady {
    width:100%;
    display: block;
}

.headerMainText {
    color:white;
    margin:0;
    text-shadow: 0px 0px 5px #28293b45;
    font-size: 70px;
    line-height: 70px;
}
.headerSubText {
    color:white;
    margin:0;
    text-shadow: 0px 0px 5px #28293b45;
    font-size: 25px;
}
.headerMainCountdownContainer {
    background: #1c4a95;
    text-align: center;
    padding: 6px 0;
    box-shadow: 0 4px 8px #00000029;
    margin-bottom: 45px;
}
.headerMainCountdownText {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.offerCardContainer {
    /*width: 25%;*/
    /*padding: 15px;*/
}

.offerCard {
    position: relative;
    box-shadow: 0 2px 4px #00000030;
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out;
}
.offerCard:hover {
    box-shadow: 0 8px 16px #00000029;
}

.offerCardBody {
    padding: 15px;
}

.offerCardTitle {
    color: #002445;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
}

.offerCardSubTitle {
    font-size: 15px;
    color: #6c7582;
    font-weight: 400;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 16px;
}

.offerCardImage {
    width: 100%;
    height: auto;
}
.offerCardButtonContainer {
    display: flex;
    flex-direction: row;
}
.offerCardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background: #F98128;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    padding: 14px;
    flex-grow: 1;
}
.offerCardInfoButton {
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    width:58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: border-color .4s,background-color .4s;
}
.offerCardInfoButton:hover {
    border: 1px solid #FF4400;
    background: #FFEFE0;
}
.offersContainer {
    gap: 32px;
    grid-template-columns: repeat(4,300px);
    margin: 0 0 32px;
    display: grid;
    justify-content: center;
}