.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerText {
    font-size: 28px;
    color: white;
}

.offersHeaderText {
    font-size: 28px;
    color: #0f2a31;
}

.header {
    background: #1c99bf;
    padding: 20px 20px 40px 20px;
    text-align: center;
}

.main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    flex: 1;
}

.logo {
    position: relative;
    max-width: 100%;
    height: auto;
}

.button {
    background: lightgreen;
    padding: 15px 30px;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
}

.footer {
    background: #1b9ac0;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #ffffffbd;
}